name: Build Kernel (Android 15 • 6.6)

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      kernel_sublevel:
        description: "Kernel 6.6 sublevel"
        type: choice
        options:
          - "98"
          - "102"
        default: "102"

      ksu_variant:
        description: "KernelSU Variant"
        type: choice
        options:
          - KSU
          - Next
          - WildKSU
          - SukiSU
        default: Next

      require_susfs:
        description: "Enable SUSFS"
        type: boolean
        default: true

jobs:
  build-6-6:
    name: Android 15 • Kernel 6.6.${{ inputs.kernel_sublevel }}
    uses: ./.github/workflows/kernel-a15-6-6.yml
    secrets: inherit
    with:
      kernel_sublevel: ${{ inputs.kernel_sublevel }}
      ksu_variant: ${{ inputs.ksu_variant }}
      require_susfs: ${{ inputs.require_susfs }}
